@import "@intric/ui/styles";
@source "../../../packages/ui/src/";

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Italic.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Inter-ExtraBold.woff2") format("woff2");
}

html {
  font-size: 15px;
  color: var(--text-color-primary);
}

*::placeholder {
  color: var(--text-color-muted) !important;
}

/* ------------------------------------------ */
/* Spceial print mode for printing a document */
/* ------------------------------------------ */
body.print-mode > .printable-document {
  display: none;
}

@media print {
  body.print-mode > :not(.printable-document) {
    display: none !important;
  }
  body.print-mode .hidden-in-print {
    display: none !important;
  }
  body.print-mode > .printable-document {
    display: block !important;
  }
  body.print-mode > .printable-document * {
    color: black !important;
  }
}
/* ------------------------------------------ */
