# .vscode files
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

# cpython
*.pyc

# cassettes
**/cassettes/*

# macOS
.DS_Store

# .env
.env
*/**/.env

# docker
docker-compose.yml
setup.sh

# venv
venv/
